* {
    margin: 0;
    padding: 0;
}
.inicio {
    background-color: #024481;
    padding: 35px;
    height: 40vh;
    width: 30vw;
}
.mb-3 {
    color: white;
}
.af {
    text-align: center;
    padding: 10px;
}
h2 , h4{
    text-align: center;
    color: rgba(20, 19, 19, 0.76);
}
.paga {
    padding-top: 10px;
    text-align: center;
    color: white;
}
.navbar {
    background-color: #152241 !important;
}
.nav-link {
    color: #ffffff;
}
.spa {
    margin: 10px;
}
.container-fluid {
    margin-left: 15vh;
}
.d-flex {
    margin-right: 15vh;
}
.imag {
    height: 40vh;
    width: 36vw;
    object-fit: cover;
}
.btn {
    background-color:#028484 ;
}
.col {
    margin-top: 50px;
    background-color: #024481;
}
.info  {
    text-align:left;
    display: none;
    color: white;
}
.btnc {
    margin-bottom: 50px;
}
.acciones {
    padding: 20px;
    display: none;
    height: 100vh;
    width: 100vw;
}
#cantidad{
    width: 200px;
}

.table {
    margin-left:auto;
    margin-right: auto;
    padding: 35px;
    height: 43vh;
    width: 50vw;
}
.contenedor {
    text-align: center;
    margin-top: 50px;
}

.saldo {
    background-color: rgba(198, 178, 216, 0.041);
    padding: 20px;
    display: none;
    height: 100vh;
    width: 100vw;
}
.retiro {
    background-color: rgba(198, 178, 216, 0.041);
    padding: 20px;
    display: none;
    height: 100vh;
    width: 100vw;
}
#retirada {
    width: 150px;
}
.deposito {
    background-color: rgba(198, 178, 216, 0.041);
    padding: 20px;
    display: none;
    height: 100vh;
    width: 100vw;
}
.acomodo {
    width: 400rem !important;
    height: 500px !important;
}
.servi {
    width: auto;
    margin-left:auto;
    margin-right: auto;
}
.pad {
    margin-top: none;
}
.espacio {
    margin-top: 10px;
}
#infopago {
    display: none;
}
